{% extends 'layout.html.twig' %}

{% block title %}Home {% endblock %}

{% block main %}

    <form method="post" action="traitement.php">
        <div>
            <label for="name">Identifiant :</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="mail">Mot de passe :</label>
            <input type="password" id="mdp" name="mdp">
        </div>
        <div class="button">
            <button type="submit">Connexion</button>
        </div>
        <div>
            <label for="name">Se souvenir de moi :</label>
            <input type="checkbox" name="souvenir" />
        </div>
    </form>

{% endblock %}