<!doctype html>
<html lang="fr">
<head>
    <title>{% block title %}Sortir.com{% endblock %}</title>
</head>
<body>
<div class="container">
    <header>

    </header>

    <main>

    </main>

    <footer>

    </footer>
</div>
</body>
</html>